.app {
  background-color: firebrick
}

.header {
  background-color: blue;
  color: red
}

.footer {
  background-color: green;
  color: purple
}

.nav {
  background-color: pink;
  color: orangered
}


